* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #303030;
    overflow-x: hidden;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;
}

hr {
    width: 90%;
    margin-left: 5%;
    color: #3FC1C9;
    background-color: #3FC1C9;
    border-radius: 5px;
    border-color: #3FC1C9;
    height: 1px;
}   

#mensagem_usuario {
    width: 30vw;
    height: 30vh;
    background-color: rgba(0, 0, 0, 0.7);
    right: 0;
    top: 0;
    margin-top: 2.5%;
    margin-right: 3%;
    position: absolute;
    border-radius: 1.5%;
}

#mensagem_usuario button {
   float: right;
   width: 10%;
   height: 10%;
   border-radius: 5px;
   border-color: #3FC1C9;
   color: white;
   background-color: rgba(108, 217, 245, 0.6);
   font-family: 'Balsamiq Sans', cursive;
   font-family: 'Rokkitt', serif;
   font-size: 1em;
}

#mensagem_usuario button:hover {
    background-color: #3FC1C9;
}

#mensagem_usuario #conteudo_menssagem {
    float: left;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.5em;
    color: white;
    
}


.header {
    width: 100%;
    height: 7vw;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.header #logo-header {
    width: 20%;
    height: 100%;
}

.header #logo-header i {
    font-size: 3em;
    color: #3FC1C9;
    margin: 10% 0 0 40%;
}

.header #logo-header img {
    width: 20%;
    margin-top: 8%;
    margin-left: 37%;
}

.header #nav {
    width: 60%;
    height: 100%;
}

.header #nav div {
  display: inline-block;
  font-size: 1.2vw;  
  margin-top: 5%;
  margin-left: 20%;
}

.header #bar {
    width: 20%;
    height: 100%;
}

.header #bar img {
    width: 25%;
    margin-top: 10%;
    margin-left: 40%;
    
}
.header #bar #b_bugado {
    font-size: 1.2vw;  
    margin-top: 15%;
    margin-left: 20%;   
    cursor: pointer; 
}

.header #bar #b_bugado a{
    cursor: pointer;  
}

#b_usuario:hover {
    color: #3FC1C9;
}
.section {
    width: 100%;
    height: 40vw;
    display: flex;
    color: white;
}

.section .sec1 {
    width: 40%;
    height: 80%;
    margin-top: 5%;
    margin-left: 6.6%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section .sec1 #logo-esq {
  display: block;
}

.section .sec1 #logo-esq i {
    color: #3FC1C9;
    font-size: 10vw;
}

.section .sec1 #logo-esq h1 {
    margin-top: 10%;
    margin-left: 35%;
}

.section .sec1 img {
    width: 50%;
}

.section #login {
    width: 100%;
    height: 85%;
    background: rgba(0, 0, 0, 0.7);  
    position: absolute; 
    
}
.section #img-direita img {
    margin-top: -10%;
}

.sec2 {
    width: 86.6%;
    height: 80%;
    margin-top: 5%;
    margin-left: 6.6%;
    font-size: 1.3vw;
}

.sec2 #cima {
    display: flex;
    width: 100%;
    height: 50%;

}

.sec2 #cima #descri {
    width: 30%;
    height: 100%;
    margin-right: -9%;
    margin-left: 10%;
    text-align: justify;
    
}

.sec2 #cima #descri h1 {
    color: #3FC1C9;
    margin-top: 10%;
    margin-bottom: 2%;
    
}


.sec2 #cima #icone-hack {
    width: 40%;
    height: 100%;
}

.sec2 #cima #icone-hack img{
    width: 50%;
    margin-left: 25%;

}

.sec2 #cima #game {
    width: 30%;
    height: 100%;
    text-align: center;
    margin-left: -12%;
}

.sec2 #cima #game h3 {
    margin-top: 13%;
}

.sec2 #cima #game button {
    width: 35%;
    height: 30%;
    border-radius: 5px;
    
    border-color: #3FC1C9;
    color: white;
    background-color: rgba(108, 217, 245, 0.6);
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;
    font-size: 1em;
}

.sec2 #cima #game button:hover {
    background-color: #3FC1C9;
}

.sec2 #baixo {
    width: 100%;
    height: 50%;
    margin-top: 5%;
}


.sec2 #baixo #icones-skill {
    display: flex;
}

.sec2 #baixo h4 {
    margin-left: 46%;
    padding-top: 2%;
}

.sec2 #baixo #icones-skill i h2 {
    font-size: 1vw;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;
}

.sec2 #baixo #icones-skill i{
    font-size: 5vw;
    margin-left: 21.5%;
    text-align: center;
}

.sec3 {
    width: 86.6%;
    height: 80%;
    margin-top: 5%;
    margin-left: 6.6%;
    font-size: 1.3vw;
    display: flex;
}

.sec3 .port {
    font-size: 1.5vw;
    width: 20%;
    height: 60%;
    margin-top: 7%;
    margin-left: 10%;
}

.sec3 #portifolio {
    background-color: #3FC1C9; 
    border-radius: 10px;
}

.sec3 #portifolio h4{
    margin-left: 30%;
    margin-top: 5%;
}

.sec3 #lavin h4{
    margin-left: 23%;
}

.sec3 #eva h4{
    margin-left: 23%;
}

.sec3 #port-cont {
    margin: 7%;
}

.sec3 .port img {
    width: 90%;
    margin: 4%;
}

.sec3 .port #eva {
    height: 82%;
}

a {
    text-decoration: none;
    color: white;
    width: 50px;
}

a:hover {
    color: #3FC1C9;
}

footer {
    width: 100%;
    height: 43vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer #esq{
    width: 40%;
    height: 50%;
    margin-top: -23%;
}

footer #esq h1 {
    margin-top: 3.2%;
    margin-left: 47%;
    font-size: 1.8vw;
}

footer #esq i {
    margin-top: 2%;
    margin-left: 35%;
    font-size: 2.5vw;
    display: flex;
}

footer #esq i div{
    font-size: 1.2vw;
    margin: 2.2% 0 0 2%;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;
}

footer #esq #social-icon {
    display: flex;
}

footer #esq #social-icon a {
    margin-left: 20%;
}

footer #esq #social-icon #a_left{
    margin-left: 32%;
}

footer #center{
    width: 60%;
    height: 75%;
    margin-top: -12%;
    min-height: max-content;
}

footer #center h2 {
    margin-top: 2%;
    margin-left: 22%;
    font-size: 1.8vw;
}

.input-padrao {
    display: block;
    margin: 0 0 1% 35%;
    width: 25%;
    height: 3vh;
    border-radius: 3px;
    border-color: #3FC1C9;
    background-color: #303030;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;
}

footer #center form #mensagem_erro {
    display: block;
    margin: 0 0 1% 33%;
    width: 40%;
    height: 2vh;
    font-size: 0.9em;
    border-radius: 3px;
    border-color: #3FC1C9;
    background-color: #303030;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;
}

footer #center form .mensagem {
    height: 12vh;
}

footer #center button {
    font-size: 1.3vw;
    margin-left: 43%;
    width: 10%;
    height: 8%;
    border-radius: 5px;
    background-color: #3FC1C9;
    border-color: #3FC1C9;
    color: white;
    background-color: rgba(108, 217, 245, 0.6);
}

footer #center button:hover {
    background-color: #3FC1C9;
}

.fa-linkedin {
    color: #2867B2;
}
.fa-github-square{
    color:#211F1F ;
}
.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

#snake {
    width: 100%;
    height: 85%;
    background: rgba(0, 0, 0, 0.7);  
    position: absolute; 
    
}


#gc {
    margin: 7.5% 0 0 35%;
}


.footer_an .footer_fundo {
    position: absolute;
    left: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.footer_an .footer_fundo .footer_carro {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") center;
    width: 330px;
    height: 105px;
    background-size:100%;
    position: absolute;
    bottom: 0;
    animation: myfirst 18s linear infinite;
}

.footer_an .footer_fundo .footer_bicicleta {
    background: url("./imagens/deliverysemfundo.gif")no-repeat center;
    width: 88px;
    height: 100px;
    background-size:90%;
    bottom: 0;
    position: absolute;
    animation: myfirst 22s linear infinite;
}



@keyframes myfirst {
  0% {
    left: -20%;
  }
  100% {
    left: 100%;
  }
}


/* Página login */

.login-div {
    width: 100%;
    height: 48vh;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;

}

.login-div button {
    font-size: 1.3vw;
    margin-left: 43%;
    width: 10%;
    height: 10%;
    border-radius: 5px;
    background-color: #3FC1C9;
    border-color: #3FC1C9;
    color: white;
    background-color: rgba(108, 217, 245, 0.6);
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rokkitt', serif;
}


.login-div button:hover {
    background-color: #3FC1C9;
}

.login-div h2 {
    padding-top: 6%;
    padding-bottom: 3%;
    margin-left: 29%;
    font-size: 1.8vw;
    color: white;
   
    
}

.login-div input {
    margin-bottom: 0px;
}


#a_loginbar {
    font-size: 1.8em;
    margin-top: 12vh;
    margin-right: 8.4vw;
}

    
